black
click==8.1.7
colorama==0.4.6
dill==0.3.5.1
Flask==2.0.3
Flask-Cors==3.0.10
isort
itsdangerous==2.1.2
Jinja2==3.1.3
joblib==1.3.2
MarkupSafe==2.1.5
mypy-extensions==1.0.0
numpy
packaging==23.2
pathspec
platformdirs
scikit-learn==1.0.2
scikit-multilearn==0.2.0
scipy
six==1.16.0
threadpoolctl
tomli==2.0.1
typing_extensions
Werkzeug==2.2.2
xgboost==0.90
requests==2.31.0
pandas